html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

html {
    max-width: 100%;
}
body {
    max-width: 100%;
    width: 100%;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: inherit;
}
/* //CSS RESET */

/* Header */
#header {
    width:80%;
    margin-left:10%;
    text-align: center;
    height: 250px;
}

#header #head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 410px;
    margin: 5% 0;
}
#header #head #cartMenu {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 400px;
}
/* //End of Header */
/* Navigation */
#nav {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
}
#nav #navSns {
    display: flex;
    
}
#nav #navSns li{
    margin-right: 20px;
    
}
#nav #navMain {
    display: flex;
}
#nav #navMain li{
    margin-right: 30px;
}
#nav div button {
    padding: 10px 25px;
    color: white;
    background-color: #FB2576;
    transition: background-color 1s;
}
#nav div button:hover {
    background-color: #000;
    transition: background-color 1s;
    cursor: pointer;
}
/* //End of Navigation */
/* Main Article */
main {
    width: 100%;
}
section {
    width: 100%;
}
/* voucher section */
section #voucher {
    display: flex;
    width: 100%;
    height: 150px;
}

section #voucher li {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #FB2576;
    width: 100%;
    font-size: 25px;
    padding: 1.5em 0;
}
section #voucher li:first-child {
    background-color: #999999;
}
section #voucher li:last-child {
    background-color: #333;
}
section #voucher li a, section #voucher li span{
    margin-top: 12px;
    font-size: 15px;
}
/* //End of voucher section */
/* image slide */
#slideImage {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 750px;
    max-height: 750px;

}
#slideImage .sliderInner{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 300%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#slideImage .sliderInner div{
    position: relative;
}
#slideImage .sliderInner div .image {  
    height: 100%;
}
#slideImage .sliderInner div .image img{  
    filter: brightness(50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#slideImage .sliderInner div .imageDescription {
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 0;
    color: white;
}
#slideImage .sliderInner div .imageDescription h6 {
    font-size: 20px;
}
#slideImage .sliderInner div .imageDescription h2 {
    font-size: 80px;
    padding: 20px 0 30px 0;
}
#slideImage .sliderInner div .imageDescription a{
    font-size: 20px;
    border: 3px white solid;
    padding: 10px 40px;
    transition: 1s;
}
#slideImage .sliderInner div .imageDescription a:hover {
    background-color: #FB2576;
    transition: background-color 1s;
}

/* end of image slide */
/* sale banner */
#saleAd {
    display: flex;
    width: 100%;
    height: 600px;
}
#saleAd li {
    position: relative;
}
#saleAd li .image {
    height: 100%;
}
#saleAd li .image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#saleAd li .imageDescription {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 0;
    color: white;
}
#saleAd li .imageDescription h6 {
    font-size: 20px;
}
#saleAd li .imageDescription h2 {
    font-size: 80px;
    padding: 20px 0 30px 0;
}
#saleAd li .imageDescription a{
    font-size: 20px;
    border: 3px white solid;
    padding: 10px 40px;
    transition: background-color 1s;
}
#saleAd li .imageDescription a:hover {
    background-color: #FB2576;
    transition: background-color 1s;
}
/* end of sale banner */
/* item lists */
#newArrival {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
#newArrival > h2 {
    font-size: 60px;
    padding-bottom: 60px;
}
#newArrival #category {
    display: flex;
    text-align: center;
    justify-content: center;
}
#newArrival #category li {
    padding: 0 20px;
}
#newArrival #category li button{
    color: #999;
    font-size: 15px;
    cursor: pointer;
}
#newArrival .itemLIst {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
    margin: 60px 5% 0 5%;
}
#newArrival .itemLIst .item {
    text-align: left;
    color: #999999;
    font-weight: 100;
}
#newArrival .itemLIst .itemImg{
    overflow: hidden;
}

#newArrival .itemLIst .itemImg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .5s, filter .5s;
}
#newArrival .itemLIst .itemImg img:hover{
    transform: scale(1.2);
    filter: brightness(60%);
}

#newArrival .itemLIst .item .itemDescription {
    display:  flex;
    flex-direction: column;
    line-height: 2em;
    height: 100px;
}
#newArrival .itemLIst .item .itemDescription h2{
    font-size: 25px;
}
#newArrival .itemLIst .item .itemDescription h6{
    font-size: 18px;
}
#newArrival .itemLIst .item .itemDescription button{
    margin-top: 10px;
    font-size: 18px;
    color: #FB2576;
    font-weight: bold;
    transition: color .5s;
    cursor: pointer;
}
#newArrival .itemLIst .item .itemDescription button:hover{
    color: black;
}
/* banner */
#banner {
    height: 700px;
    position: relative;
}
#banner .bannerImage{
    overflow: hidden;
    height: 100%;
}
#banner .bannerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#banner .bannerDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 50%;
    top: 30%;
    width: 500px;
    background-color: rgba(0,0,0,0.6);
    color:white;
    padding: 100px 50px;
}
#banner .bannerDescription h2{
    font-size: 60px;
}
#banner .bannerDescription h6{
    margin-top: 1em;
    font-size: 20px;
}
#banner .bannerDescription .bannerPrice {
    margin-top: 1em;
    font-size: 25px;
}
#banner .bannerDescription .bannerPrice .cPrice {
    color:#999;
}
#banner .bannerDescription .bannerPrice .chPrice {
    color: red;
}

#banner .bannerDescription a{
    font-size: 20px;
    border: 3px white solid;
    padding: 10px 40px;
    transition: background-color 1s;
    margin-top: 1em;
}
#banner .bannerDescription a:hover{
    background-color: #FB2576;
}

/* client testimonial */
#testimonials {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 120px 0;
}
#testimonials #tContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
}
/* testimonial h2 */

#testimonials #tContainer .testimonial{
    font-size: 50px;
    font-weight: bold;
}
#testimonials #tContainer .tComment{
    width: 80%;
}
/* testimonial comment */
#testimonials #tContainer .tComment .cComment{
    line-height: 5vh;
    margin: 60px 0;
    font-size: 20px;
    font-weight: 200;
    color: #888;
}
/* client */
#testimonials #tContainer .tComment .client{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* client image */
#testimonials #tContainer .tComment .client img{
    width: 60px;
    border-radius: 100%;
}
/* client information */
#testimonials #tContainer .tComment .client div{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#testimonials #tContainer .tComment .client div .clientName{
    font-size: 15px;
}
#testimonials #tContainer .tComment .client div .clientInfo{
    font-size: 14px;
    color:#FB2576;
}
/* end of testimonial */
/* footer */
#footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    border-top: 2px solid #888;
}
#footer #btlogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
    width: 90%;
    padding-bottom: 50px;
    border-bottom: 2px solid #888;
}
#footer #btlogo .btlogoCopy {
    display: flex;
    flex-direction: column;
    max-width: 22.5%;
    margin-right: 30px;
}
#footer #btlogo .btlogoCopy .logoImg{
    width: 100%;
    height: 100%;
}
/* copyright */
#footer #btlogo .btlogoCopy .copyright {
    padding-top: 20px;
    font-size: 15px;
    color: #999;
}

/* btmenu */
#footer #btlogo .btmenu {
    display: flex;
    flex-direction: column;
    min-width: 17.5%;
    font-size: 15px;
    font-weight: 200;
}
#footer #btlogo .btmenu li{
    transition: padding-left .5s;
    line-height: 4vh;
}
#footer #btlogo .btmenu li:hover{
    padding-left: 8px;
}
/* subscription */
#footer #btlogo .subscription {
    display: flex;
    flex-direction: column;
    width: 42.5%;
}
#footer #btlogo .subscription span{
    font-size: 20px;
    padding-bottom: 30px;
}
#footer #btlogo .subscription #email{
    display: flex;
}
#footer #btlogo .subscription #email input{
    font-size: 15px;
    max-width: 70%;
    width: 70%;
    height: 50px;
    padding-left: 10px;
    border: none;
    background-color: #f0eded;
    color: #999;
    font-style: italic;
}
#footer #btlogo .subscription #email button {
    background-color: #3a3a3a;
    color: white;
    font-size: 14px;
    width: 30%;
    height: 50px;
    cursor: pointer;
    transition: background-color .5s;
}
#footer #btlogo .subscription #email button:hover {
    background-color: #FB2576;
}
#footer #btSns {
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    margin-top: 30px;
}
#footer #btSns li{
    text-align: center;
    width: 100px;
    height: auto;
    transition: color 0.5s, padding-bottom 0.5s;
}
#footer #btSns li:hover {
    padding-bottom: 10px;
    color: #FB2576;
}

@media (max-width: 1200px){
    #header #head #cartMenu {
        margin-left: 250px;
    }
}
/* dots */
#slideImage .dots{
    position: absolute;
    left: 5%;
    top: 50%;
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-evenly;
}
#testimonials .dots{
    position: absolute;
    left: 10%;
    top: 40%;
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-evenly;
}
.dot {
    width: 10px;
    height: 15px;
    border: 2px solid #999;
    border-radius: 100%;
    cursor: pointer;
}
/* active */
.active {
    background-color: red;
}